flows.json
[{"id":"6644559b.abbbac","type":"tab","label":"Prediction of Output Energy","disabled":false,"info":""},{"id":"9571612f.46eee","type":"function","z":"6644559b.abbbac","name":"PreToken","func":"\nglobal.set(\"speed\",msg.payload.speed)\nglobal.set(\"power\",msg.payload.power)\nglobal.set(\"direction\",msg.payload.direction)\nvar apikey=\"B4Fv8STnRBzaw4pItF-sK9L8T6EINCM80_B1OGu2KU0x\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[["7650fd10.b77494"]]},{"id":"7650fd10.b77494","type":"http request","z":"6644559b.abbbac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["c8bf3b0.00c3cc8","ee40cc1a.d4028"]]},{"id":"ee40cc1a.d4028","type":"function","z":"6644559b.abbbac","name":"Pre Prediction","func":"\nvar speed = global.get('speed')\nvar power = global.get('power')\nvar direction= global.get('direction')\nvar token=msg.payload.access_token\nvar instance_id=\"fe428a79-89b3-4cce-b7ae-3af4ea608a4c\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\":[\"Wind Speed(m/s)\", \"Theoretical_Power_Curve(KWh)\", \"Wind Direction(ᵒ)\"],\"values\":[[date,speed,power,direction]]}]}\nreturn msg;","outputs":1,"noerr":45,"initialize":"","finalize":"","x":625,"y":160,"wires":[["5efca98e.7aacb8"]]},{"id":"5efca98e.7aacb8","type":"http request","z":"6644559b.abbbac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5324b0fc-436f-4b17-84e8-61d19eb4848b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":818,"y":160,"wires":[["39524088.2dbea","ad673fff.a44a9"]]},{"id":"9e9daa5c.a49158","type":"ui_form","z":"6644559b.abbbac","name":"","label":"","group":"f923d172.8d4f8","order":0,"width":0,"height":0,"options":[{"label":"Enter the Wind speed","value":"speed","type":"number","required":true,"rows":null},{"label":"Enter  the Theoritcal power curve","value":"power","type":"number","required":true,"rows":null},{"label":"Enter the wind Direction ","value":"direction","type":"number","required":true,"rows":null}],"formValue":{"speed":"","power":"","direction":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["766a062f.4870e8","9571612f.46eee"]]},{"id":"cc526418.99bd48","type":"ui_text","z":"6644559b.abbbac","group":"692851ed.360cc","order":1,"width":0,"height":0,"name":"","label":"Output Energy","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":80,"wires":[]},{"id":"ad673fff.a44a9","type":"function","z":"6644559b.abbbac","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":120,"wires":[["4dfffcf0.feaa74","cc526418.99bd48"]]},{"id":"766a062f.4870e8","type":"debug","z":"6644559b.abbbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":280,"wires":[]},{"id":"c8bf3b0.00c3cc8","type":"debug","z":"6644559b.abbbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"39524088.2dbea","type":"debug","z":"6644559b.abbbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"4dfffcf0.feaa74","type":"debug","z":"6644559b.abbbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"f923d172.8d4f8","type":"ui_group","z":"","name":"INPUT DATAS","tab":"6b3701f7.0e5be","order":2,"disp":true,"width":"6","collapse":false},{"id":"692851ed.360cc","type":"ui_group","z":"","name":"OUTPUT DATAS","tab":"6b3701f7.0e5be","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b3701f7.0e5be","type":"ui_tab","z":"","name":"PREDICTING THE ENERGY OUTPUT OF WIND TURBINE","icon":"dashboard","disabled":false,"hidden":false}]