flows (2) Github.json
[{"id":"440dfc0c.b1b484","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"f2f71c31.21c84","type":"function","z":"440dfc0c.b1b484","name":"PreToken","func":"global.set(\"windspeed\",msg.payload.windspeed)\nglobal.set(\"Theoreticalpower\",msg.payload.Theoreticalpower)\nglobal.set(\"Winddirection\",msg.payload.Winddirection)\nvar apikey=\"B4Fv8STnRBzaw4pItF-sK9L8T6EINCM80_B1OGu2KU0x\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":420,"wires":[["dcd89a98.b72a38"]]},{"id":"dcd89a98.b72a38","type":"http request","z":"440dfc0c.b1b484","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":519,"y":408.9999952316284,"wires":[["87239ab6.bafd48"]]},{"id":"da7e5e.eb0521a","type":"debug","z":"440dfc0c.b1b484","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":958.0000114440918,"y":150.99999713897705,"wires":[]},{"id":"87239ab6.bafd48","type":"function","z":"440dfc0c.b1b484","name":"Pre Prediction","func":"var dgn = global.get('windspeed')\nvar diagnosis = global.get('Theoreticalpower')\nvar fev = global.get('Winddirection')\n\nvar token=msg.payload.access_token\nvar instance_id=\"fe428a79-89b3-4cce-b7ae-3af4ea608a4c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"windspeed\",\"Theoreticalpower\",\"Winddirection\"], \"values\": [[windspeed,Theoreticalpower,Winddirection]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":716.0000076293945,"y":371.9999990463257,"wires":[["b2f9666a.4e8948"]]},{"id":"b2f9666a.4e8948","type":"http request","z":"440dfc0c.b1b484","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5324b0fc-436f-4b17-84e8-61d19eb4848b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":809.5000076293945,"y":315.9999990463257,"wires":[["76cdb71e.3440b8","da7e5e.eb0521a"]]},{"id":"7b1d9c9e.13d764","type":"ui_form","z":"440dfc0c.b1b484","name":"","label":"","group":"8818f913.c3f5f8","order":1,"width":0,"height":0,"options":[{"label":"Wind Speed (m/s)","value":"windspeed","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"Theoreticalpower","type":"number","required":true,"rows":null},{"label":"Wind Direction (°)","value":"Winddirection","type":"number","required":true,"rows":null}],"formValue":{"windspeed":"","Theoreticalpower":"","Winddirection":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":111,"y":462.9999952316284,"wires":[["f2f71c31.21c84"]]},{"id":"8305d096.3f974","type":"ui_text","z":"440dfc0c.b1b484","group":"8818f913.c3f5f8","order":2,"width":0,"height":0,"name":"","label":"Active Power","format":"{{msg.payload}}","layout":"row-spread","x":857.6000366210938,"y":468.20000743865967,"wires":[]},{"id":"76cdb71e.3440b8","type":"function","z":"440dfc0c.b1b484","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":669.6000366210938,"y":211.60000133514404,"wires":[["8305d096.3f974"]]},{"id":"8818f913.c3f5f8","type":"ui_group","z":"","name":"Default","tab":"6265cfb2.bb9bf","order":1,"disp":true,"width":"6","collapse":false},{"id":"6265cfb2.bb9bf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]