Node RED Json.txt
[{"id":"b0080c79.e6ff3","type":"tab","label":"Prediction of Output Energy","disabled":false,"info":""},{"id":"f3339102.3de98","type":"function","z":"b0080c79.e6ff3","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"speed\",msg.payload.speed)\nglobal.set(\"power\",msg.payload.power)\nglobal.set(\"direction\",msg.payload.direction)\nvar apikey=\"KEyItKHSkR-vdB-0KEzeCI4Si2-s3U_vtNKWRVg8nBaz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[["7fe01f72.978ac"]]},{"id":"7fe01f72.978ac","type":"http request","z":"b0080c79.e6ff3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["54f47f8b.70c3f","d237eabf.c4f6a8"]]},{"id":"d237eabf.c4f6a8","type":"function","z":"b0080c79.e6ff3","name":"Pre Prediction","func":"var date = global.get('date')\nvar speed = global.get('speed')\nvar power = global.get('power')\nvar direction= global.get('direction')\nvar token=msg.payload.access_token\nvar instance_id=\"b7e56d27-2303-4015-a779-13b6189095ba\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\":[\"Date/Time\", \"Wind Speed(m/s)\", \"Theoretical_Power_Curve(KWh)\", \"Wind Direction(ᵒ)\"],\"values\":[[date,speed,power,direction]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":160,"wires":[["e01393ba.a80d6"]]},{"id":"e01393ba.a80d6","type":"http request","z":"b0080c79.e6ff3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/734dbc7c-6258-440c-812e-02371a2d50bb/predictions","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":160,"wires":[["72272c72.d7cc94","e67a831d.a84d8"]]},{"id":"6f75fff0.b6932","type":"ui_form","z":"b0080c79.e6ff3","name":"","label":"","group":"34767129.ff222e","order":0,"width":0,"height":0,"options":[{"label":"Enter the Date and Time","value":"date","type":"text","required":true,"rows":null},{"label":"Enter the Wind speed","value":"speed","type":"number","required":true,"rows":null},{"label":"Enter  the Theoritcal power curve","value":"power","type":"number","required":true,"rows":null},{"label":"Enter the wind Direction ","value":"direction","type":"number","required":true,"rows":null}],"formValue":{"date":"","speed":"","power":"","direction":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["348c6d5a.3a1812","f3339102.3de98"]]},{"id":"734cd74a.2a8088","type":"ui_text","z":"b0080c79.e6ff3","group":"ea382aa4.40d928","order":1,"width":0,"height":0,"name":"","label":"Output Energy","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":80,"wires":[]},{"id":"e67a831d.a84d8","type":"function","z":"b0080c79.e6ff3","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":120,"wires":[["eb27695.37ecf98","734cd74a.2a8088"]]},{"id":"348c6d5a.3a1812","type":"debug","z":"b0080c79.e6ff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":280,"wires":[]},{"id":"54f47f8b.70c3f","type":"debug","z":"b0080c79.e6ff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"72272c72.d7cc94","type":"debug","z":"b0080c79.e6ff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"eb27695.37ecf98","type":"debug","z":"b0080c79.e6ff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"34767129.ff222e","type":"ui_group","z":"","name":"INPUT DATAS","tab":"cc21f428.acc108","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea382aa4.40d928","type":"ui_group","z":"","name":"OUTPUT DATAS","tab":"cc21f428.acc108","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc21f428.acc108","type":"ui_tab","z":"","name":"PREDICTING THE ENERGY OUTPUT OF WIND TURBINE","icon":"dashboard","disabled":false,"hidden":false}]
